.cartMedium {
  border-radius: 24px;
  background: #FFF;
  height: 312px;
  width: 944px;
  box-sizing: border-box;
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: start;
  &__flex {
    display: flex;
  }
  &__size {
    height: 100%;
    width: 100%;
  }
  &__name {
    font-family: var(--font-TTInterfaces);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  &__img {
    width: 280px;
    height: 208px;
    margin-right: 16px;
  }
  &__amount {
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
  }
  &__quantity {
    color: var(--text-accent-50, rgba(5, 32, 85, 0.50));
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.08px;
    display: flex;
    width: 80px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-sizing: border-box;
    border: 1px solid var(--text-accent-50, rgba(5, 32, 85, 0.50));
    margin-right: 16px;
  }
  &__price {
    color: var(--Text-Accent, #052055);
    font-family: var(--font-TTInterfaces);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  &__properties {
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
    padding: 24px 0;
    border-top: 1px solid var(--Function-Line, #C0C7D4);
    border-bottom: 1px solid var(--Function-Line, #C0C7D4);
  }
  &__property {
    box-sizing: border-box;
    display: flex;
    padding: 4px 16px;
    align-items: center;
    border-radius: 24px;
    background: var(--Function-Badge-Background, #E7EEFC);
    color: var(--Text-Accent, #052055);
    font-family: var(--font-inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.07px;
    &_regular {
      color: var(--Text-Accent, #052055);
      font-family: var(--font-inter);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0.07px;
    }
  }
}

.marginRight {
  margin-right: 8px;
}

.flexBetween {
  justify-content: space-between;
  align-items: center;
}

.semiBlue {
  color: rgba(5, 32, 85, 0.5);
}

.blue {
  color: rgba(5, 32, 85, 1);
}

.iconBin {
  font-size: 24px;
  color: rgba(5, 32, 85, 0.5);
  cursor: pointer;
}