.main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none;
}

.main__blue {
  background: #0038A5;
  color: #fff;
  padding: 12px 18px 12px 24px;
  transition: linear 100ms;
  &:hover {
    background: #0F61FF;
  }
}

.main__white {
  background: transparent;
  padding: 11px 18px 11px 24px;
  color: #0038A5;
  border: 1.5px solid #0038A5;
  box-shadow: 0 0 0 0.5px #0038A5;
  //height: 46px;
  //box-sizing: border-box;
  //todo problem with height
  transition: linear 100ms;
  &:hover {
    background: #0038A5;
    color: #fff;
  }
}

.text {
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.08px;
}

.text__blue {
  color: #0038A5;
}

.text__white {
  color: #FFF;
}

.imagePadding {
  padding: 16px 16px;
}
