.main {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none;
}

.main__blue {
  background: #0038A5;
  color: #fff;
  padding: 12px 18px 12px 24px;
  transition: linear 100ms;
  &:hover {
    background: #0F61FF;
  }
  &:active {
    background: var(--Function-Action-Blue, #0F54DA);
    color: #fff;
  }
}

.main__white {
  background: transparent;
  padding: 11px 18px 11px 24px;
  color: #0038A5;
  border: 1.5px solid #0038A5;
  box-shadow: 0 0 0 0.5px #0038A5;
  //height: 46px;
  //box-sizing: border-box;
  //todo problem with height
  transition: linear 100ms;
  &:hover {
    background: #0038A5;
    color: #fff;
  }
  &:active {
    background: var(--Function-Action-Blue, #0F54DA);
    color: #fff;
  }
}

.main__red {
  background: transparent;
  padding: 11px 18px 11px 24px;
  color: #E25555;
  border: 1.5px solid #E25555;
  box-shadow: 0 0 0 0.5px #E25555;
  //height: 46px;
  //box-sizing: border-box;
  //todo problem with height
  transition: linear 100ms;
  &:hover {
    background: #E25555;
    color: #fff;
  }
  &:active {
    background: var(--Function-Red-FF, #FF7E7E);
    color: #fff;
  }
}

.main__grey {
  background: transparent;
  padding: 11px 18px 11px 24px;
  color: var(--text-accent-50, rgba(5, 32, 85, 0.50));
  border: 0;
  //height: 46px;
  //box-sizing: border-box;
  //todo problem with height
  transition: linear 100ms;
  &:hover {
    border-radius: 24px;
    background: var(--Function-Badge-Background, #E7EEFC);
    color: rgba(42, 65, 110, 1);
  }
}

.main__blue_disable {
  background: var(--Function-Disabled-Primary, #D4D5D8);
  color: #fff;
  cursor: default;
  &:hover {
    background: var(--Function-Disabled-Primary, #D4D5D8);
    color: #fff;
  }
  &:active {
    background: var(--Function-Disabled-Primary, #D4D5D8);
    color: #fff;
  }
}

.main__white_disable {
  border: 1.5px solid var(--Function-Disabled-Secondary, #9FBBF0);
  color: var(--Function-Disabled-Secondary, #9FBBF0);
  cursor: default;
  &:hover {
    border: 1.5px solid var(--Function-Disabled-Secondary, #9FBBF0);
    background: transparent;
    color: var(--Function-Disabled-Secondary, #9FBBF0);
  }
  &:active {
    border: 1.5px solid var(--Function-Disabled-Secondary, #9FBBF0);
    background: transparent;
    color: var(--Function-Disabled-Secondary, #9FBBF0);
  }
}

.main__red_disable {
  border: 1.5px solid var(--Function-Red, #E25555);
  opacity: 0.4;
  color: var(--Function-Red, #E25555);
  cursor: default;
  &:hover {
    border: 1.5px solid var(--Function-Red, #E25555);
    opacity: 0.4;
    color: var(--Function-Red, #E25555);
  }
  &:active {
    border: 1.5px solid var(--Function-Red, #E25555);
    opacity: 0.4;
    color: var(--Function-Red, #E25555);
  }
}

.text {
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.08px;
}

.text__blue {
  color: #0038A5;
}

.text__white {
  color: #FFF;
}

.marginZero {
  margin: 0;
}

.imagePadding {
  padding: 16px 16px;
}

.quantity {
  position: absolute;
  right: -8px;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: #FFF;
  width: 32px;
  height: 24px;
  background: #E25555;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}