.mainContainer {
  max-width: 1424px;
  margin: 0 auto;
}

.catalogBox {
  margin-bottom: 132px;
}

.catalogMargin {
  margin: 24px 0 128px 0;
}

.catalogMiddleMargin {
  margin-bottom: 56px;
}

.breadCrumbsContainer {
  margin-top: 56px;
}