.button {
  height: 48px;
  padding: 12px 18px 12px 24px;
  &__text {
    color: var(--text-accent-50, rgba(5, 32, 85, 0.50));
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.08px;
  }
}