.field {
  color: var(--Text-Accent, #052055);
  width: 100%;
  font-size: 16px;
  background: transparent;
  font-style: normal;
  font-family: var(--font-inter);
  font-weight: 400;
  line-height: 150%;
  padding: 12px 24px;
  box-sizing: border-box;
  letter-spacing: -0.08px;
  border-radius: 24px;
  border: 1px solid var(--text-accent-50, rgba(5, 32, 85, 0.50));
  &:active {
    outline: none;
    border: 1.5px solid var(--Function-Action-Hover, #0F61FF);
  }
  &:focus {
    outline: none;
    border: 1.5px solid var(--Function-Action-Hover, #0F61FF);
  }
  &:hover {
    border: 1.5px solid var(--Function-Action-Hover, #0F61FF);
  }
  &::placeHolder {
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: rgba(5, 32, 85, 0.50);
  }
  &__error {
    border: 1.5px solid var(--Function-Red, #E25555);
  }
  &__errorText {
    color: var(--Function-Red, #E25555);
    font-family: var(--font-TTInterfaces);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    color: var(--Text-Accent, #052055);
    font-family: var(--font-TTInterfaces);
    margin-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}