.sortByDrawer {
  box-sizing: border-box;
  height: 900px;
  width: 592px;
  &__header {
	padding: 32px;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	border-bottom: 1px solid var(--Function-Line, #C0C7D4);
	&_text {
	  color: var(--Text-Accent, #052055);
	  font-family: var(--font-TTInterfaces);
	  font-size: 32px;
	  font-style: normal;
	  font-weight: 500;
	  line-height: 150%;
	}
  }
  &__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	height: 80px;
	box-sizing: border-box;
	padding: 16px 32px;
	border-bottom: 1px solid var(--Function-Line, #C0C7D4);
	&_text {
	  color: var(--Text-Accent, #052055);
	  font-family: var(--font-TTInterfaces);
	  font-size: 21px;
	  font-style: normal;
	  font-weight: 500;
	  line-height: 150%;
	  margin-bottom: 8px;
	}
	&_description {
	  color: var(--Text-Body, #2A416E);
	  font-family: var(--font-inter);
	  font-size: 16px;
	  font-style: normal;
	  font-weight: 400;
	  line-height: 150%;
	  letter-spacing: -0.08px;
	}
	&_icon {
	  color: rgba(5, 32, 85, 1);
	  font-size: 24px;
	}
  }
}

.drawer {
  height: auto;
}