.mainContainer {
  max-width: 1424px;
  margin: 0 auto;
  padding: 24px 0;
  border-top: 1px solid #C0C7D4;
  width: 100%;
}

.routesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marginBottom {
  margin-bottom: 24px;
}

.routes {
  display: flex;
  align-items: center;
}

.routesLink {
  display: flex;
  align-items: center;
  margin-left: 24px;
  color: #052055;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  transition: linear 250ms;
  text-decoration: none;
  &:hover {
    text-underline-offset: 4px;
    text-decoration: underline;
  }
}

.city {
  display: flex;
  align-items: center;
  margin-left: 24px;
  color: #052055;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}

.privacy {
  cursor: pointer;
  color: #2A416E;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-right: 24px;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.privacyShop {
  cursor: pointer;
  color: #2A416E;
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-decoration-line: none;
}

.logo {
  background: url("../../assets/img/Logo.svg");
  width: 44px;
  height: 32px;
}