@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('fonts/TTInterfaces-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Black.ttf');
  font-weight: 900;
}

:root {
  --font-inter: 'Inter';
  --font-TTInterfaces: 'TT Interfaces';
}

.carousel.carousel-slider {
  overflow: visible !important;
}

.carousel .carousel-status {
  position: absolute;
  right: 124px !important;
  top: unset !important;
  bottom: 0 !important;
  box-sizing: border-box !important;

  font-family: var(--font-inter) !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 170% !important; /* 23.8px */
  letter-spacing: 0.07px !important;
  display: flex !important;
  width: 66px !important;
  padding: 4px 16px !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.30) !important;
  text-shadow: none !important;
  background: rgba(0, 0, 0, 0.60) !important;
}

.Header {
  height: 82px;
}

body {
  background: #F5F5F5;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

#root {
  height: 100%;
}

.defaultContainer {
  max-width: 1424px;
  margin: 0 auto;
}

.MuiTableCell-head {
   color: #052055 !important;
   font-family: var(--font-TTInterfaces) !important;
   font-size: 16px !important;
   font-style: normal !important;
   font-weight: 500 !important;
   line-height: 150% !important;
 }

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  height: auto !important;
}